@import "tailwindcss";

@theme {
    --map-road-color: #3388ff;
}

@plugin "./daisyui.mjs" {
    themes:
        silk --default,
        dracula --prefersdark;
}

@plugin "./daisyui-theme.mjs" {
    name: "silk";
    default: true;
    --color-primary: oklch(72.772% 0.149 33.2);
    --color-primary-content: oklch(0% 0 0);
    --color-neutral-content: oklch(90% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
}

@plugin "./daisyui-theme.mjs" {
    name: "dracula";
    --color-primary: oklch(73.375% 0.165 35.353);
    --color-primary-content: oklch(14.675% 0.033 35.353);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0.5;
}

@utility fieldset-legend {
    @apply cursor-pointer;
    padding-block: 0;
    margin-bottom: 0;
}

@utility hero-content {
    @apply py-10 lg:py-16;
}

@utility modal-box {
    @apply bg-base-100/99 border border-base-content/20 max-w-3xl;
}

@utility btn-link {
    @apply !gap-0;
}

@utility dropdown-content {
    @apply border border-base-content/20 bg-base-200 rounded-box shadow-sm;
}

@utility table-wrapper {
    @apply overflow-x-auto;
}

@utility card {
    &.image-full {
        > figure img {
            filter: brightness(0.6) blur(3px);
        }
    }
}

@utility checkbox {
    &:focus-visible {
        --input-color: var(--color-base-content);
    }
}

@utility loading-3xl {
    width: calc(var(--size-selector, 0.25rem) * 16);
}

@utility alert-vertical {
    @apply text-left justify-start place-items-start;
}

@layer components {
    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
}

a {
    @apply transition-colors;
}

a:not(.btn, .badge):hover,
.alert-success a:not(.btn),
.alert-info a:not(.btn),
.highlight-link a {
    color: var(--color-primary);
}

footer a[target="_blank"],
p a[target="_blank"],
.admin a[target="_blank"],
.alert a[target="_blank"] {
    &:after {
        content: " ";
        display: inline-block;
        background-color: currentColor;
        mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1hcnJvdy1vdXQtdXAtcmlnaHQtaWNvbiBsdWNpZGUtc3F1YXJlLWFycm93LW91dC11cC1yaWdodCI+PHBhdGggZD0iTTIxIDEzdjZhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWNWEyIDIgMCAwIDEgMi0yaDYiLz48cGF0aCBkPSJtMjEgMy05IDkiLz48cGF0aCBkPSJNMTUgM2g2djYiLz48L3N2Zz4=);
        background-size: contain;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        @apply scale-50 transition-colors;
    }

    &:hover:after {
        background-color: currentColor;
    }
}

mark {
    @apply bg-primary text-primary-content rounded-sm;
}

@media print {
    #map {
        page-break-before: always;
    }
}

abbr[title] {
    @apply no-underline lg:underline lg:decoration-dotted after:content-["_["_attr(title)_"]"] lg:after:content-[""];
}

#faq a,
#article a:not(.btn) {
    @apply underline decoration-dotted;
}

.article-body {
    @apply mx-auto space-y-5 py-5 px-5 lg:px-0;
}

[disabled] {
    @apply border-base-content/20;
}

#flashes {
    @apply space-y-2;
}

/* Chartjs does not support dark mode. Background is
forced to white to make texts readables */
[data-theme="dracula"] .chart canvas {
    @apply bg-white rounded-lg p-3;
}
