| Discover **#{merchants_count}** newly listed Bitcoin (₿ ⚡), Monero (🔒), and June (🟡) merchants now featured on the [Bank-Exit](#{maps_url}) map.
= "\n"

- merchants_by_country.each do |country, merchants|
  | ### #{pretty_country_html(country)}
  = "\n"

  - merchants.each do |merchant|
    | - **[#{merchant.name}](#{merchant_url(merchant)})**
    ruby:
      coins_list = []
      coins_list << '₿ Bitcoin' if merchant.bitcoin?
      coins_list << '🔒 Monero' if merchant.monero?
      coins_list << '🟡 June' if merchant.june?
      coins_list << '⚡ Lightning' if merchant.lightning? || merchant.contact_less?
    |   #{coins_list.join(', ')}
    = "\n"
  = "\n"
