@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.animate-swing {
    display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
    .animate-swing {
        animation: swing 3.5s ease-in-out infinite;
    }
}
