/* Flash */

#flashes {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 50;

    a {
        text-decoration: underline;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .appear-then-fade {
        animation: appear-then-fade 10s both;
    }

    .fade-out {
        animation: fade-out 1s both;
    }
}

@keyframes appear-then-fade {
    0%,
    100% {
        opacity: 0;
    }
    5%,
    60% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
