- i18n_scope = 'activemodel.attributes.merchant_proposal'

p Bonjour,

p Un nouveau commerçant vient d'être proposé depuis le site. Voici les informations renseignées:

pre= JSON.pretty_generate(@data)

p style="font-size: 12px; font-style: italic"
  | Ce message a été auto-généré par Rails, merci de ne pas y répondre
