- i18n_scope = 'activemodel.attributes.merchant_proposal'

= "Bonjour,\n\n"

| Un nouveau commerçant vient d'être proposé depuis le site. Voici les informations renseignées:
= "\n\n"

== JSON.pretty_generate(@data)

= "\n\n"
| Ce message a été auto-généré par Rails, merci de ne pas y répondre
