dialog#command_palette.modal(
  data-controller="command-palette"
  data-action="click->command-palette#close"
  data-command-palette-search-url-value=merchants_path
)
  .w-full.max-w-sm.md:max-w-md.lg:max-w-2xl
    form.relative.mb-1
      input.input.input-primary.border-2.w-full.input-lg.lg:input-xl.leading-relaxed.px-5(
        name="query"
        placeholder=t('simple_form.placeholders.command_palette.search')
        data-command-palette-target="input"
        data-action="input->command-palette#search"
      )

      span.spinner.hidden.absolute.right-5.top-1/2.-translate-y-1/2.z-1 data-command-palette-target="spinner"
        span.loading.loading-spinner.w-6.h-6.text-primary

    #command_palette_results
      = render 'merchants/merchants_dropdown',
               directories_spotlight: @directories_spotlight,
               merchants: @default_merchants
